<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{% endblock %}
    <title>{% block title %}OpenBuild{% endblock %}</title>
</head>
<body>
    
    <header class="navbar">
        <nav class="container">
            <a href="{{ url_for('home.view_home') }}" class="logo">OpenBuild</a>
            <ul class="nav-links">
                <li><a href="{{ url_for('home.view_home') }}">Home</a></li>
                
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('project.view_projects') }}">Projects</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2025 OpenBuild Project</p>
    </footer>

</body>
</html>