{% extends 'base.html' %} {% block title %}OpenBuild | New Update{% endblock %}
{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/create_post.css') }}"
/>
{% endblock %} {% block content %}
<div class="content-section">
  <form action="{{ request.path }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <fieldset class="form-group">
      <legend>Log Progress: {{ project.title }}</legend>

      <div class="form-group">
        {{ form.title.label }} {{ form.title(class="form-control",
        placeholder="E.g., Added Database Models") }} {% for error in
        form.title.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="form-group">
        {{ form.content.label }} {{ form.content(class="form-control", rows="6",
        placeholder="Describe what you built...") }} {% for error in
        form.content.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="form-group">
        {{form.post_type.label}} {{form.post_type(class="form-group")}}

        <small class="form-text text-muted" style="margin-top: 4px">
          <strong>init</strong> - Project start, setup, direction ·
          <strong>feature</strong> - New functionality added · 
          <strong>fix</strong> - Bug fix or issue resolved · 
          <strong>decision</strong> - Architecture / design decision ·
          <strong>milestone</strong> - Release, deploy, or major progress ·
          <strong>learning</strong> - Reflection, lessons, insights ·
          <strong>update</strong> - General progress or minor changes
        </small>
      </div>

      {% if post and post.image_file %}
      <div class="current-image">
        <p>Current image:</p>
        <img
          src="{{ url_for('static', filename='uploads/' + post.image_file) }}"
          style="max-width: 250px; border-radius: 6px"
        />
      </div>
      {% endif %}

      <div class="form-group">
        {{ form.image.label }} {{ form.image(class="form-control-file") }} {%
        for error in form.image.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
    </fieldset>

    <div class="form-actions">
      {{ form.submit(class="btn-primary") }}
      <div class="form-footer">
        <a
          href="{{ url_for('project.project_details', project_id=project.id) }}"
          class="text-muted"
          >Cancel</a
        >
      </div>
    </div>
  </form>
</div>
{% endblock %}
