{% extends "base.html" %} {% block title %} OpenBuild | Project{% endblock %} {%
block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/landing_page.css') }}"
/>
{% endblock %} {% block content %}

<h1>this is landing page list page</h1>

<div class="action-bar" style="margin-bottom: 2rem">
  <a
    href="{{ url_for('project.new_project') }}"
    class="btn-submit"
    style="text-decoration: none; display: inline-block"
  >
    + Create New Project
  </a>
</div>

{% endblock %}
